<!--
################################################################################
# UserBackup <https://github.com/pirafrank/OSX_utils/>
# Backup user configuration files and info
#
# Copyright (C) 2015 Francesco Pira <dev@fpira.com>
#
# This file is part of OSX_utils
#
# This script is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This script is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this script.  If not, see <http://www.gnu.org/licenses/>.
#
################################################################################
-->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.netsons.fpira.userbackup</string>
	<key>Program</key>
	<string>/usr/local/bin/userbackup</string>
     <key>RunAtLoad</key>
     <false/>
     <key>StartCalendarInterval</key>
     <dict>
          <key>Minute</key>
          <integer>01</integer>
          <key>Hour</key>
          <integer>23</integer>
     </dict>
     <!--
     <key>StartInterval</key>
     <integer>60</integer>
     -->
</dict>
</plist>
